@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: lightgrey;
}
h1,h2,h3,h4,h5,h6,p,span,ul,li,a,div{
    margin: 0;
    padding: 0;
    
}
.container{
    background-color: lightgrey;
    padding: 12px;
    display: flex;
    /* justify-content: center; */
    gap: 20px;
}

/* left section starts here */
.left{
   min-width: 300px;
   min-height: 600px;
    height:700px;
    border-radius: 10px;
    background-color: white;   
}
.left .blog-section span{
    border-bottom: 2px solid #18d26e;
    color: black;
    font-size: 24px;
    font-weight: 600;
    margin-right: 8px;
    margin-right: 5px;
    padding: 0;
}
.left .blog-section h3{
    font-size: 24px;
    font-weight: 600;
}

.left .blog-section {
    padding: 24px;
}
.left .blog-section ul{
    list-style-type: none;
    color: black;
    margin-top: 15px;
    font-size: 26px;
    font-weight: 400;
} 
.left .blog-section li{
    margin-top: 10px;
    font-size: 26px;
  font-weight:400;
}

.left .community-section {
    padding: 24px;
}

.left .community-section ul{
    list-style-type: none;
    color: black;
    font-size: 26px;
    font-weight: 400;
}
.left .community-section ul{
    list-style-type: none;
    color: black;
    margin-top: 15px;
    font-size: 26px;
    font-weight: 400;
} 
.left .community-section li{
    margin-top: 10px;
    font-size: 26px;
  font-weight:400;
}
.left .community-section span{
    border-bottom: 2px solid #18d26e;
    color: black;
    font-size: 24px;
    font-weight: 600;

}
.left .community-section h3{
    font-size: 24px;
    font-weight: 600;
}
.dash{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #18d26e;
    color: white;
    font-size: 34 px;
    font-weight: 700;
}
/* right section starts here  */
.right{
    background-color: white;
     border-radius:15px ;
     margin-right:15px;
     padding:15px;
     font-family: 'Montserrat', sans-serif !important; 
     width:90%;

}

.right h1 {
  font-family: 'Montserrat', sans-serif !important; 
  font-size: 55px !important;
  font-weight: 600 !important;
  margin-bottom: 15px;
  margin-top:15px;
}
.right img{
    height:80px;
    width:100px;
    object-fit: cover;
    border-radius: 50%;
}
.right form {
    display: flex;
    flex-direction:column ;
    flex-wrap: wrap;
    gap:15px;
    font-size: 24px;
    font-weight: 500;
    font-family:'Montserrat', sans-serif ;
    width:60%;

}
.right form input{
    width: 100%;
    height:30px;
    border-radius: 10px;
    color:black;
    font-size: 24px;
    font-weight: 500;
    font-family:'Montserrat', sans-serif ;
    padding: 10px;
}

.right button[type=submit]{
    font-size: 30px;
    font-weight: 500;
    font-family:'Montserrat', sans-serif ;
    background-color: #18d26e!important;
    color:white;
    border-radius: 15px;
    width:180px;
    padding:10px;
    border: none;
    margin-right: 50px;
} 
 
 